user  nginx; # 유저 권한
worker_processes  1; # 프로세스 실행 가능 수

error_log  /var/log/nginx/error.log warn; # 에러 정보 저장
pid        /var/run/nginx.pid; # 마스터 프로세스 ID 저장

server {
	listen 80 default_server;
	listen [::]:80 default_server;

	return 301 https://$host$request_uri;
}

server {
		listen 443;

		root /var/www/html;

		index index.php index.html index.htm index.php;

		server_name _;

 		location / {
			allow_method GET POST
			autoindex on;
			try_files $uri $uri/ =404;
		}

		location /test/ {
			autoindex on;
			try_files $uri $uri/ =404;
		}

		location ~ \.php$ {
			include snippets/fastcgi-php.conf;
			fastcgi_pass unix:/var/run/php/php7.3-fpm.sock;
		}
}