# config 규칙
# 파일의 마지막은 반드시 뉴라인으로 끝내야함
# ;와 # 뒤는 주석으로 처리됨

user  nginx; # 유저 권한
worker_processes  1; # 프로세스 실행 가능 수

us 23# clnt_addr_siz
key 1;vale

error_log  /var/log/nginx/error.log warn; # 에러 정보 저장
pid        /var/run/nginx.pid; # 마스터 프로세스 ID 저장

server {
	server_name default_server;
	listen 80;

	location / {
		root /
		allow_method GET;
		cgi_path ./
		cgi_extention .bla
		cgi_extention .p
		index index.php index.html index.htm index.php;
		autoindex on;
	}

	location /test/ {
		index index.php index.html index.htm index.php;
		root /test/;
		allow_method GET POST DELETE HEAD;

	}
}
